.shop_list {
    display: flex;
    width: 1000px;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    .shop{
        width: 32%;
        height: 600px;
        border-radius: 8px;
        position: relative;
        background: #F2F2F2;
        margin-bottom: 15px;
        overflow: hidden;
        text-align: center;
        .img img{
            margin-top: 10%;
            height: 131px;
            cursor: pointer;
        }
        .radius{
            width: 22px;
            display: inline-block;
            height: 22px;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
            margin-top: 7%;
        }
        .p1{
            margin-top: 10%;
            cursor: pointer;
        }
        .p2{
            text-align: center;
            margin-top: 5%;
            color: #999;
            margin-bottom: 8%;
            cursor: pointer;
        }
        .desc{
            list-style: circle;
            font-size: 12px;
            text-align: left;
            margin: 0 40px 0  60px;
            cursor: pointer;
            color: #666;
            li{
                margin-bottom: 10%;
                &.no_wrap{
                    white-space: nowrap;
                }
            }
        }
    }
}
.page{
    width: 720px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    height: 50px;
    line-height: 50px;
    text-align: center;
    user-select: none;
    li{
        flex: 1;
        border: 1px solid #0ef;
        border-right-color: transparent;
        cursor: pointer;
        &:last-child{
            border-right-color: #0ef;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &:first-child{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    .active{
        background: #0ef;
        color: #fff;
    }
    .disabled{
        color: #aaa;
        cursor: not-allowed;
    }
}
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    .info{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 685px;
        height: 350px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 131px;
        }
        .join{
            border: none;
            outline: none;
            background: #0ef;
            color: #fff;
            width: 100px;
            height: 35px;
            border-radius: 5px;
            margin-top: 10px;
            margin-left: 160px;
            cursor: pointer;
        }
    }
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        line-height: 33px;
        text-align: center;
        border: 1px solid #f00;
        border-radius: 50%;
        color: #f00;
        font-size: 40px;
        cursor: pointer;
    }
}
